<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="menu">

    <mat-card class="example-card">
      <mat-card-header class="logo">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="titulo">JOVETHTECNOLOGIA</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <img src="assets/icons/facebook.png" alt="" class="img-tamanho">
        <img src="assets/icons/whatsapp.png" alt="" class="img-tamanho">
        <img src="assets/icons/instagram.png" alt="" class="img-tamanho">
        <img src="assets/icons/linkedin.png" alt="" class="img-tamanho">
        <img src="assets/icons/twitter.png" alt="" class="img-tamanho">
      </mat-card-actions>
    </mat-card>

    <mat-list role="list" class="color-link">
      <mat-list-item role="listitem" [routerLink]="['/inicio']">Início</mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/about']">Quem Somos</mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/service']">Nossos Serviços</mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/client']">Nossos Clientes</mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/contact']">Contactos</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="conteudo">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
