.example-container {
  width: 100%;
  height: 100%;
}

.menu{
  width: 250px;
  background-color:#e1bee7;
  border: none;

}

.color-link > mat-list-item{
  color: #004d40;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.conteudo{
  background-color: #FFF;
}

.example-card {
  max-width: 250px;
  background-color:#ab47bc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.example-card > .img-tamanho{
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo{
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-tamanho{
  width: 30px;
  height: 30px;
  margin: 4px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.titulo{
  font-size: medium;

}
